
    * {
  box-sizing: border-box;
}
body{
  margin: 0%;
  background-color:black;
  
}

.column {
    max-width: 23vw;
    width: 23%; 
    min-width:23vw;
    max-height: 100vh;
    height: 100%; 
    min-height:100vh;
    margin: 15px;
    padding:5%;
    float:left; 
    display: inline;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#moth{
  border-radius: 50%;
  max-width: 7%;
  max-height: 7%;
}

.topnav-right {
  float: right;
}
.btn{
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  color: #DBD3C9;
  width: 200px;
  height: 50px;
}
.btn:hover{
  background-color: #3A3335;
}
#makeup{
  background-image: url(assets/makeup.jpg);
  background-size: relative;
}
#fashion{
  background-image: url(assets/sktch.jpg);
  background-position: bottom;
  background-size: cover;
}
