
    * {
  box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.column {
    max-width: 23vw;
    width: 23%; 
    min-width:23vw;
    max-height: 100vh;
    height: 100%; 
    min-height:100vh;
    margin: 0;
    padding: 0;
    float:left; 
    display: inline;/* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}